/* Light (font-weight: 300) */
@font-face {
    font-family: 'NanumSquare Neo';
    src: url('/fonts/woff2/NanumSquareNeoTTF-aLt.woff2') format('woff2'),
         url('/fonts/woff/NanumSquareNeoTTF-aLt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  /* Regular (400) */
  @font-face {
    font-family: 'NanumSquare Neo';
    src: url('/fonts/woff2/NanumSquareNeoTTF-bRg.woff2') format('woff2'),
         url('/fonts/woff/NanumSquareNeoTTF-bRg.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  /* Bold (700) */
  @font-face {
    font-family: 'NanumSquare Neo';
    src: url('/fonts/woff2/NanumSquareNeoTTF-cBd.woff2') format('woff2'),
         url('/fonts/woff/NanumSquareNeoTTF-cBd.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  /* ExtraBold (800) */
  @font-face {
    font-family: 'NanumSquare Neo';
    src: url('/fonts/woff2/NanumSquareNeoTTF-dEb.woff2') format('woff2'),
         url('/fonts/woff/NanumSquareNeoTTF-dEb.woff') format('woff');
    font-weight: 800;
    font-style: normal;
  }
  
  /* Heavy or Black (900) */
  @font-face {
    font-family: 'NanumSquare Neo';
    src: url('/fonts/woff2/NanumSquareNeoTTF-eHv.woff2') format('woff2'),
         url('/fonts/woff/NanumSquareNeoTTF-eHv.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }